---
import Layout from '../layouts/Layout.astro';
import HomeHero from '../components/HomeHero.astro';
import HomeProjects from '../components/HomeProjects.astro';
import HomeContact from '../components/HomeContact.astro';
---

<Layout>
	<main>
		<HomeHero />

		<!-- WHITESPACE -->
		<div class="h-[150px] sm:h-[200px]"></div>

		<HomeProjects />

		<!-- WHITESPACE -->
		<div class="h-[150px] sm:h-[200px]"></div>

		<HomeContact />

		<!-- WHITESPACE -->
		<div class="h-[150px] sm:h-[200px]"></div>
	</main>
</Layout>
