---
import TechBadge from "../TechBadge.astro";
import badges from "../../collections/techBadges";
---

<div>
  <h2 class="font-semibold tracking-tight text-xl mb-2">Technologies Used</h2>
  <ul class="flex flex-wrap gap-2" aria-label="Technologies used">
    {
      badges.map((badge) => (
        <li>
          <TechBadge title={badge.title} img={badge.img} alt={badge.alt} />
        </li>
      ))
    }
  </ul>
</div>
