---
import Gallery from "../components/about/Gallery.astro";
import TechStack from "../components/about/TechStack.astro";
import Layout from "../layouts/Layout.astro";

const seo = {
  title: "About | Ryan Bowler",
  description:
    "Learn more about my journey from mechanical engineering to full-stack development and how I combine my engineering expertise with coding to build solutions. Discover more about my passions outside of work and what else I love to do.",
  image: "../assets/images/my-portfolio-cover-950x950.jpg",
  type: "website",
};
---

<Layout {seo}>
  <div class="overflow-x-clip">
    <!-- WHITESPACE -->
    <div class="h-[150px] sm:h-[200px]" role="presentation"></div>

    <div class="px-4 lg:px-20">
      <h1 class="text-6xl sm:text-7xl font-bold mb-20 tracking-tight">
        About Me
      </h1>
    </div>
    <section class="px-4 lg:px-20 flex flex-col gap-10 max-w-[900px]">
      <TechStack />
      <div class="grid gap-2 sm:gap-4 text-base sm:text-lg text-neutral-700">
        <p>
          My programming journey
          <span class="font-semibold">started in 2022</span>, when I began
          coding internal tools to automate repetitive processes, increasing
          team efficiency and freeing up focus for higher-value work. I
          discovered how much I enjoyed programming and I've been hooked ever
          since.
        </p>
        <p>
          I dove headfirst into web development, spending my evenings (and
          plenty of late nights!) learning everything I could. Fast forward to
          today, and I've gained qualifications and
          <span class="font-semibold"> built several projects </span>
          that have taught me a lot. For the previous decade, I worked as a mechanical
          design engineer in the world of special-purpose machinery.
        </p>
        <p>
          Now, I get to combine my
          <span class="font-semibold">engineering mindset</span>
          with my passion for programming to build web based solutions for real-world
          problems.
        </p>
      </div>
    </section>

    <!-- WHITESPACE -->
    <div class="h-[200px] lg:h-[350px]" role="presentation"></div>

    <section class="py-44 text-white bg-rose-800">
      <h2
        class="text-4xl sm:text-6xl tracking-tight font-semibold mb-10 px-4 lg:px-20"
      >
        Travel & Hobbies
      </h2>
      <div
        class="px-4 lg:px-20 mb-10 lg:mb-20 max-w-[900px] grid gap-2 sm:gap-4 text-base sm:text-lg text-rose-100"
      >
        <p>
          Travelling is a
          <span class="font-semibold">huge part of my life</span>, and I feel
          lucky to have explored so many different parts of the world. It's
          something I plan to keep doing for as long as I can! The life-changing
          experiences I have gained through travel are priceless. They've given
          me a broader perspective and resilience in how I approach both work
          and life. So far, I've visited
          <span class="font-semibold">40+ countries</span> and
          <span class="font-semibold"> 6 out of the 7 continents</span>
          , and I'm always excited for the next adventure.
        </p>
        <p>
          When I'm not coding, you can usually find me out skateboarding or at
          the gym,
          <span class="font-semibold">I love staying active</span>
          and being outdoors as much as possible. On days when I'm too sore to be
          active, I'm also known to grow different types of chilli and strange varities
          vegetables, my rule is if I can buy it in the shops, im not growing it!
          My fiancé and I also enjoy
          <span class="font-semibold">cooking together</span>, my specialty dish
          is a Caribbean goat curry.
        </p>
      </div>
      <Gallery />
    </section>
  </div>
</Layout>
