---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About | Ryan Bowler">
  <main>
    <!-- WHITESPACE -->
    <div class="h-[150px] sm:h-[200px]"></div>

    <section class="container mx-auto px-5 mb-10">
      <h1 class="text-6xl sm:text-7xl font-bold mb-20">About Me</h1>
      <h2 class="font-semibold text-xl mb-2">Technologies Used</h2>
      <div class="flex flex-wrap gap-2">
        <span class="p-1 rounded-md bg-black/20">Typescript</span>
        <span class="p-1 rounded-md bg-black/20">Javascript</span>
        <span class="p-1 rounded-md bg-black/20">React</span>
        <span class="p-1 rounded-md bg-black/20">Node.js</span>
        <span class="p-1 rounded-md bg-black/20">Next.js</span>
        <span class="p-1 rounded-md bg-black/20">Express.js</span>
        <span class="p-1 rounded-md bg-black/20">Astro</span>
        <span class="p-1 rounded-md bg-black/20">Tailwind</span>
        <span class="p-1 rounded-md bg-black/20">Bootstrap</span>
        <span class="p-1 rounded-md bg-black/20">Mongo DB</span>
        <span class="p-1 rounded-md bg-black/20">HTML</span>
        <span class="p-1 rounded-md bg-black/20">CSS</span>
        <span class="p-1 rounded-md bg-black/20">Git</span>
        <span class="p-1 rounded-md bg-black/20">GitHub</span>
      </div>
    </section>

    <!-- WHITESPACE -->
    <div class="h-10"></div>

    <section class="container mx-auto px-5 grid gap-2">
      <p>
        My programming journey
        <span class="font-semibold">started in 2022</span>, when I began writing
        small scripts for our CAD software, I discovered how much I enjoyed
        coding and I've been hooked ever since. What started as a few small
        scripts turned into a whole suite of tools that helped streamline our
        work, and that's when I realized it was time for a career change.
      </p>
      <p>
        I dove headfirst into web development, spending my evenings (and plenty
        of late nights!) learning everything I could. Fast forward to today, and
        I've earned a few web development qualifications and
        <span class="font-semibold"> built several projects </span>
        that I'm really proud of. For the previous 10 years, I worked as a mechanical
        design engineer in the world of special-purpose machinery and food processing.
      </p>
      <p>
        Now, I get to combine my
        <span class="font-semibold">engineering mindset</span>
        with my passion for coding to build responsive, scalable apps that solve
        real-world problems. Whether it's crafting a sleek front-end or getting into
        the nitty-gritty of the back-end, I love what I do—and I'm always up for
        the next challenge.
      </p>
    </section>

    <!-- WHITESPACE -->
    <div class="h-[150px] sm:h-[200px]"></div>

    <section class="container mx-auto px-5 grid gap-2">
      <h2 class="text-4xl font-bold sm:text-5xl">Travel & Hobbies</h2>
      <p>
        Traveling is a
        <span class="font-semibold">huge part of my life</span>, and I feel
        lucky to have explored so many different parts of the world. It's
        something I plan to keep doing for as long as I can! They say travel
        broadens the mind, and I couldn't agree more—every trip has taught me
        something new about life that I wouldn't have learned otherwise. So far,
        I've visited
        <span class="font-semibold">29 countries</span> and
        <span class="font-semibold"> 6 out of the 7 continents </span>
        , and I'm always excited for the next adventure.
      </p>
      <p>
        When I'm not coding, you can usually find me out skateboarding or at the
        gym,
        <span class="font-semibold">I love staying active</span>
        and being outdoors as much as possible. On days when I'm too sore to be active,
        I'm also known to grow different types of chilli and strange varities vegetables,
        my rule is if I can buy it in the shops, im not growing it! My girlfriend
        and I also enjoy
        <span class="font-semibold">cooking together</span>, my specialty dish
        is a Caribbean goat curry.
      </p>
    </section>

    <!-- WHITESPACE -->
    <div class="h-[150px] sm:h-[200px]"></div>
  </main>
</Layout>
