---
import ContactForm from "../components/ContactForm.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact | Ryan Bowler">
  <section class="px-4 py-20 min-h-screen flex items-center justify-center">
    <div class="w-full">
      <h1 class="font-semibold tracking-tight text-4xl sm:text-6xl mb-5">
        CONTACT ME
      </h1>
      <p class="mb-5 max-w-[600px] text-base sm:text-xl text-neutral-600">
        I'm always excited to connect with others who are as passionate about
        technology and building new projects as I am. If you think we can <span
          class="font-semibold">build something great together</span
        >, don't hesitate to reach out.
      </p>
      <!-- links -->
      <div class="mt-14 grid gap-6">
        <div class="grid gap-1">
          <span class="text-sm text-neutral-600">Email</span>
          <p class="text-2xl font-medium">ryanbprog@gmail.com</p>
        </div>
        <a
          href="https://www.linkedin.com/in/ryan-bowler-601919170/"
          target="_blank"
          class="block w-fit group relative text-2xl font-medium focus:outline-2 focus:outline-black focus:outline-offset-4"
        >
          <span class="flex gap-1 items-center">
            <span>LinkedIn</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-move-up-right"
              ><path d="M13 5H19V11"></path><path d="M19 5L5 19"></path></svg
            >
          </span>
          <span
            class="absolute -bottom-1 left-0 h-[1px] w-0 bg-black transition-all duration-300 group-hover:w-full"
          ></span>
        </a>
        <a
          href="https://github.com/RyanBProg"
          target="_blank"
          class="block w-fit group relative text-2xl font-medium focus:outline-2 focus:outline-black focus:outline-offset-4"
        >
          <span class="flex gap-1 items-center">
            <span>GitHub</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-move-up-right"
              ><path d="M13 5H19V11"></path><path d="M19 5L5 19"></path></svg
            >
          </span>
          <span
            class="absolute -bottom-1 left-0 h-[1px] w-0 bg-black transition-all duration-300 group-hover:w-full"
          ></span>
        </a>
      </div>
    </div>
  </section>

  <ContactForm />
</Layout>
