---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.astro";
---

<Layout title="Contact | Ryan Bowler">
  <!-- WHITESPACE -->
  <div class="h-[150px] sm:h-[200px]" role="presentation"></div>

  <section
    class="container mx-auto px-4 flex flex-col items-center gap-10 lg:flex-row lg:items-start"
  >
    <div>
      <h1 class="text-6xl sm:text-7xl tracking-tight font-bold mb-6">
        Contact
      </h1>
      <p class="max-w-[600px]">
        I'm always excited to connect with others who are as passionate about
        technology and building new projects as I am. If you think we can <span
          class="font-semibold">build something great together</span
        >, don't hesitate to reach out.
      </p>
    </div>
    <ContactForm />
  </section>

  <!-- WHITESPACE -->
  <div class="h-[150px] sm:h-[200px]" role="presentation"></div>
</Layout>
