---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.astro";
import ProjectsBanner from "../components/home/ProjectsBanner.astro";
import ContactForm from "../components/ContactForm.astro";
---

<Layout title="Portfolio | Ryan Bowler">
  <main>
    <Hero />

    <!-- WHITESPACE -->
    <div class="h-[150px] sm:h-[200px]" role="presentation"></div>

    <ProjectsBanner />

    <!-- WHITESPACE -->
    <div class="h-[150px] sm:h-[200px]" role="presentation"></div>

    <section class="flex flex-col justify-center gap-4 h-dvh px-5 sm:px-10">
      <h2
        class="text-center font-bold text-5xl pb-5 tracking-tight sm:text-7xl"
      >
        Contact Me
      </h2>
      <ContactForm />
    </section>

    <!-- WHITESPACE -->
    <div class="h-[150px] sm:h-[200px]" role="presentation"></div>
  </main>
</Layout>
