---
import Layout from "../layouts/Layout.astro";
import HomeHero from "../components/home/Hero.astro";
import HomeProjects from "../components/home/ProjectsBanner.astro";
import HomeContact from "../components/Contact.astro";
---

<Layout title="Portfolio | Ryan Bowler">
  <main>
    <HomeHero />

    <!-- WHITESPACE -->
    <div class="h-[150px] sm:h-[200px]"></div>

    <HomeProjects />

    <!-- WHITESPACE -->
    <div class="h-[150px] sm:h-[200px]"></div>

    <section class="flex flex-col justify-center gap-4 h-dvh px-5 sm:px-10">
      <h2
        class="text-center font-bold text-5xl pb-5 tracking-tight sm:text-7xl"
      >
        Contact Me
      </h2>
      <HomeContact />
    </section>

    <!-- WHITESPACE -->
    <div class="h-[150px] sm:h-[200px]"></div>
  </main>
</Layout>
