---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.astro";
import ProjectsBanner from "../components/home/ProjectsBanner.astro";
import ContactForm from "../components/ContactForm.astro";
---

<Layout title="Portfolio | Ryan Bowler">
  <Hero />

  <!-- WHITESPACE -->
  <div class="h-[150px] sm:h-[200px]" role="presentation"></div>

  <ProjectsBanner />

  <!-- WHITESPACE -->
  <div class="h-[150px] sm:h-[200px]" role="presentation"></div>

  <section class="flex flex-col justify-center gap-4 h-dvh px-5 sm:px-10">
    <h2 class="text-center font-bold text-5xl pb-5 tracking-tight sm:text-7xl">
      Contact Me
    </h2>
    <ContactForm />
  </section>

  <!-- WHITESPACE -->
  <div class="h-[150px] sm:h-[200px]"></div>
  <form class="bg-rose-800 w-full flex flex-col gap-4 text-4xl px-4 py-10">
    <h2>GET IN CONTACT</h2>
    <div class="relative w-full">
      <input
        type="text"
        placeholder="Name ..."
        required
        class="w-full py-2 px-4 bg-transparent rounded-md text-white placeholder:text-neutral-300"
      /><span class="absolute right-2 top-0">*</span>
    </div>
    <div class="relative w-full">
      <input
        type="email"
        placeholder="Email ..."
        required
        class="w-full py-2 px-4 bg-transparent rounded-md text-white placeholder:text-neutral-300"
      /><span class="absolute right-2 top-0">*</span>
    </div>
    <div class="relative w-full">
      <input
        type="text"
        placeholder="Message ..."
        required
        class="w-full py-2 px-4 bg-transparent rounded-md text-white placeholder:text-neutral-300"
      /><span class="absolute right-2 top-0">*</span>
    </div>
    <button
      type="submit"
      class="mt-4 font-bold tracking-tight uppercase py-4 rounded-md text-black bg-white"
      >Submit</button
    >
  </form>
</Layout>
