---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/home/Hero.astro";
import ContactForm from "../components/ContactForm.astro";
import ProjectCarousel from "../components/home/ProjectCarousel.astro";
import TextBanner from "../components/home/TextBanner.astro";
import AboutBanner from "../components/home/AboutBanner.astro";
---

<Layout title="Portfolio | Ryan Bowler">
  <Hero />

  <!-- WHITESPACE -->
  <div class="h-0 md:h-[200px]" role="presentation"></div>

  <ProjectCarousel />

  <!-- WHITESPACE -->
  <div class="h-0 md:h-[200px]" role="presentation"></div>

  <TextBanner />

  <AboutBanner />

  <ContactForm />
</Layout>
