---
import { Image } from "astro:assets";
import sendIcon from "../../assets/icons/send.png";
---

<section
  aria-label="Introduction"
  class="hero-section -mt-[86px] relative h-screen flex flex-col justify-center items-center px-5"
>
  <h1
    class="font-bold text-8xl text-center tracking-tighter sm:text-9xl md:text-[10rem]"
  >
    <div class="overflow-hidden pb-2">
      <span class="main-heading block opacity-0">Ryan</span>
    </div>
    <div class="overflow-hidden">
      <span class="main-heading block opacity-0">Bowler</span>
    </div>
  </h1>
  <p id="sub-text" class="text-base sm:text-xl mt-2 text-center opacity-0">
    A passionate <span class="font-bold">Full Stack Developer</span> and
    <br />professional problem solver who loves to build things!
  </p>
  <div id="stats" class="mt-16 flex flex-col gap-5 justify-center opacity-0">
    <div class="text-center">
      <h2 class="font-bold tracking-tight text-2xl sm:text-4xl">3+ Years</h2>
      <p class="text-neutral-500">Coding experience</p>
    </div>
    <div class="text-center">
      <h2 class="font-bold tracking-tight text-2xl sm:text-4xl">10+ Years</h2>
      <p class="text-neutral-500">Engineering experience</p>
    </div>
  </div>
  <div class="grad-cover"></div>

  <!-- Download Button -->
  <a
    href="/ryan-bowler-cv.pdf"
    download="Ryan-Bowler-CV"
    class="absolute top-5 right-5 z-[100] flex gap-2 items-center rounded-lg p-2 hover:bg-neutral-500/10"
  >
    <Image src={sendIcon} alt="airplane" height="24" width="24" />
    <span>Download Resume</span>
  </a>
</section>

<style>
  .hero-section {
    background-image: radial-gradient(#0000004a 1px, #ffffff 1px);
    background-size: 40px 40px;
  }

  .grad-cover {
    @apply absolute inset-0;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 20%,
      rgba(255, 255, 255, 0) 80%,
      rgba(255, 255, 255, 1) 100%
    );
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const mainHeading = document.querySelectorAll(".main-heading");
  const subText = document.getElementById("sub-text");
  const stats = document.getElementById("stats");

  gsap.set([subText, stats], { opacity: 0 });
  const tl = gsap.timeline();
  tl.fromTo(
    mainHeading,
    {
      y: "100%",
      opacity: 0,
    },
    {
      y: "0%",
      opacity: 1,
      duration: 1.2,
      stagger: 0.8,
      ease: "sine.inOut",
    },
    ">-0.6",
  ).fromTo(
    [subText, stats],
    {
      opacity: 0,
    },
    {
      opacity: 1,
      duration: 2,
      ease: "sine.out",
    },
  );
</script>
