---
import Flower from "../svgs/Flower.astro";
import PalmTree from "../svgs/PalmTree.astro";
import Sun from "../svgs/Sun.astro";
---

<section
  class="flex flex-col justify-center py-20 px-4 w-screen overflow-x-hidden"
>
  <div id="text-container" class="flex flex-col gap-2 sm:gap-4">
    <div
      id="text-line-1"
      class="w-fit whitespace-nowrap text-[6vw] font-bold text-black/50 tracking-tighter leading-tight flex items-center gap-4 sm:gap-6 lg:gap-8"
    >
      <p class="text-black">Self Motivating</p>
      <Flower />
      <p>Process Improvement</p>
      <Flower />
      <p class="text-black">Self Motivating</p>
      <Flower />
      <p>Process Improvement</p>
    </div>
    <div
      id="text-line-2"
      class="w-fit whitespace-nowrap text-[6vw] font-bold text-black/50 tracking-tighter leading-tight flex items-center gap-4 sm:gap-6 lg:gap-8"
    >
      <p>Self Managing</p>
      <PalmTree width="26" height="26" />
      <p class="text-black">Problem Solver</p>
      <PalmTree width="26" height="26" />
      <p>Self Managing</p>
      <PalmTree width="26" height="26" />
      <p class="text-black">Problem Solver</p>
    </div>
    <div
      id="text-line-3"
      class="w-fit whitespace-nowrap text-[6vw] font-bold text-black/50 tracking-tighter leading-tight flex items-center gap-4 sm:gap-6 lg:gap-8"
    >
      <p class="text-black">Hunger for Knowledge</p>
      <Sun width="26" height="26" />
      <p>Critical Thinker</p>
      <Sun width="26" height="26" />
      <p class="text-black">Hunger for Knowledge</p>
      <Sun width="26" height="26" />
      <p>Critical Thinker</p>
    </div>
  </div>
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const textContainer = document.getElementById("text-container");
  const textLine1 = document.getElementById("text-line-1");
  const textLine2 = document.getElementById("text-line-2");
  const textLine3 = document.getElementById("text-line-3");

  gsap.fromTo(
    textLine1,
    { x: 0 },
    {
      x: "-20vw",
      scrollTrigger: {
        trigger: textContainer,
        start: "bottom bottom",
        end: "top top",
        scrub: 1,
      },
    },
  );

  gsap.fromTo(
    textLine2,
    { x: "-20vw" },
    {
      x: 0,
      scrollTrigger: {
        trigger: textContainer,
        start: "bottom bottom",
        end: "top top",
        scrub: 1,
      },
    },
  );

  gsap.fromTo(
    textLine3,
    { x: 0 },
    {
      x: "-40vw",
      scrollTrigger: {
        trigger: textContainer,
        start: "bottom bottom",
        end: "top top",
        scrub: 1,
      },
    },
  );
</script>
