<section
  class="flex flex-col justify-center py-20 px-4 w-screen overflow-x-hidden"
>
  <div id="text-container" class="flex flex-col gap-2 sm:gap-4">
    <div
      id="text-line-1"
      class="w-fit text-[6vw] font-bold text-black/50 tracking-tighter leading-tight flex items-center gap-4 sm:gap-6 lg:gap-8"
    >
      <p class="min-w-max text-black">Self Motivating</p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        class="text-rose-400"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-flower"
        ><circle cx="12" cy="12" r="3"></circle><path
          d="M12 16.5A4.5 4.5 0 1 1 7.5 12 4.5 4.5 0 1 1 12 7.5a4.5 4.5 0 1 1 4.5 4.5 4.5 4.5 0 1 1-4.5 4.5"
        ></path><path d="M12 7.5V9"></path><path d="M7.5 12H9"></path><path
          d="M16.5 12H15"></path><path d="M12 16.5V15"></path><path
          d="m8 8 1.88 1.88"></path><path d="M14.12 9.88 16 8"></path><path
          d="m8 16 1.88-1.88"></path><path d="M14.12 14.12 16 16"></path></svg
      >
      <p class="min-w-max">Process Improvement</p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        class="text-rose-400"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-flower"
        ><circle cx="12" cy="12" r="3"></circle><path
          d="M12 16.5A4.5 4.5 0 1 1 7.5 12 4.5 4.5 0 1 1 12 7.5a4.5 4.5 0 1 1 4.5 4.5 4.5 4.5 0 1 1-4.5 4.5"
        ></path><path d="M12 7.5V9"></path><path d="M7.5 12H9"></path><path
          d="M16.5 12H15"></path><path d="M12 16.5V15"></path><path
          d="m8 8 1.88 1.88"></path><path d="M14.12 9.88 16 8"></path><path
          d="m8 16 1.88-1.88"></path><path d="M14.12 14.12 16 16"></path></svg
      >
      <p class="min-w-max text-black">Self Motivating</p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        class="text-rose-400"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-flower"
        ><circle cx="12" cy="12" r="3"></circle><path
          d="M12 16.5A4.5 4.5 0 1 1 7.5 12 4.5 4.5 0 1 1 12 7.5a4.5 4.5 0 1 1 4.5 4.5 4.5 4.5 0 1 1-4.5 4.5"
        ></path><path d="M12 7.5V9"></path><path d="M7.5 12H9"></path><path
          d="M16.5 12H15"></path><path d="M12 16.5V15"></path><path
          d="m8 8 1.88 1.88"></path><path d="M14.12 9.88 16 8"></path><path
          d="m8 16 1.88-1.88"></path><path d="M14.12 14.12 16 16"></path></svg
      >
      <p class="min-w-max">Process Improvement</p>
    </div>
    <div
      id="text-line-2"
      class="w-fit text-[6vw] font-bold text-black/50 tracking-tighter leading-tight flex items-center gap-4 sm:gap-6 lg:gap-8"
    >
      <p class="min-w-max">Self Managing</p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        class="text-rose-400"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-flower"
        ><circle cx="12" cy="12" r="3"></circle><path
          d="M12 16.5A4.5 4.5 0 1 1 7.5 12 4.5 4.5 0 1 1 12 7.5a4.5 4.5 0 1 1 4.5 4.5 4.5 4.5 0 1 1-4.5 4.5"
        ></path><path d="M12 7.5V9"></path><path d="M7.5 12H9"></path><path
          d="M16.5 12H15"></path><path d="M12 16.5V15"></path><path
          d="m8 8 1.88 1.88"></path><path d="M14.12 9.88 16 8"></path><path
          d="m8 16 1.88-1.88"></path><path d="M14.12 14.12 16 16"></path></svg
      >
      <p class="min-w-max text-black">Problem Solver</p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        class="text-rose-400"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-flower"
        ><circle cx="12" cy="12" r="3"></circle><path
          d="M12 16.5A4.5 4.5 0 1 1 7.5 12 4.5 4.5 0 1 1 12 7.5a4.5 4.5 0 1 1 4.5 4.5 4.5 4.5 0 1 1-4.5 4.5"
        ></path><path d="M12 7.5V9"></path><path d="M7.5 12H9"></path><path
          d="M16.5 12H15"></path><path d="M12 16.5V15"></path><path
          d="m8 8 1.88 1.88"></path><path d="M14.12 9.88 16 8"></path><path
          d="m8 16 1.88-1.88"></path><path d="M14.12 14.12 16 16"></path></svg
      >
      <p class="min-w-max">Self Managing</p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        class="text-rose-400"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-flower"
        ><circle cx="12" cy="12" r="3"></circle><path
          d="M12 16.5A4.5 4.5 0 1 1 7.5 12 4.5 4.5 0 1 1 12 7.5a4.5 4.5 0 1 1 4.5 4.5 4.5 4.5 0 1 1-4.5 4.5"
        ></path><path d="M12 7.5V9"></path><path d="M7.5 12H9"></path><path
          d="M16.5 12H15"></path><path d="M12 16.5V15"></path><path
          d="m8 8 1.88 1.88"></path><path d="M14.12 9.88 16 8"></path><path
          d="m8 16 1.88-1.88"></path><path d="M14.12 14.12 16 16"></path></svg
      >
      <p class="min-w-max text-black">Problem Solver</p>
    </div>
    <div
      id="text-line-3"
      class="w-fit text-[6vw] font-bold text-black/50 tracking-tighter leading-tight flex items-center gap-4 sm:gap-6 lg:gap-8"
    >
      <p class="min-w-max text-black">Hunger for Knowledge</p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        class="text-rose-400"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-flower"
        ><circle cx="12" cy="12" r="3"></circle><path
          d="M12 16.5A4.5 4.5 0 1 1 7.5 12 4.5 4.5 0 1 1 12 7.5a4.5 4.5 0 1 1 4.5 4.5 4.5 4.5 0 1 1-4.5 4.5"
        ></path><path d="M12 7.5V9"></path><path d="M7.5 12H9"></path><path
          d="M16.5 12H15"></path><path d="M12 16.5V15"></path><path
          d="m8 8 1.88 1.88"></path><path d="M14.12 9.88 16 8"></path><path
          d="m8 16 1.88-1.88"></path><path d="M14.12 14.12 16 16"></path></svg
      >
      <p class="min-w-max">Critical Thinker</p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        class="text-rose-400"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-flower"
        ><circle cx="12" cy="12" r="3"></circle><path
          d="M12 16.5A4.5 4.5 0 1 1 7.5 12 4.5 4.5 0 1 1 12 7.5a4.5 4.5 0 1 1 4.5 4.5 4.5 4.5 0 1 1-4.5 4.5"
        ></path><path d="M12 7.5V9"></path><path d="M7.5 12H9"></path><path
          d="M16.5 12H15"></path><path d="M12 16.5V15"></path><path
          d="m8 8 1.88 1.88"></path><path d="M14.12 9.88 16 8"></path><path
          d="m8 16 1.88-1.88"></path><path d="M14.12 14.12 16 16"></path></svg
      >
      <p class="min-w-max text-black">Hunger for Knowledge</p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        class="text-rose-400"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-flower"
        ><circle cx="12" cy="12" r="3"></circle><path
          d="M12 16.5A4.5 4.5 0 1 1 7.5 12 4.5 4.5 0 1 1 12 7.5a4.5 4.5 0 1 1 4.5 4.5 4.5 4.5 0 1 1-4.5 4.5"
        ></path><path d="M12 7.5V9"></path><path d="M7.5 12H9"></path><path
          d="M16.5 12H15"></path><path d="M12 16.5V15"></path><path
          d="m8 8 1.88 1.88"></path><path d="M14.12 9.88 16 8"></path><path
          d="m8 16 1.88-1.88"></path><path d="M14.12 14.12 16 16"></path></svg
      >
      <p class="min-w-max">Critical Thinker</p>
    </div>
  </div>
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  const textContainer = document.getElementById("text-container");
  const textLine1 = document.getElementById("text-line-1");
  const textLine2 = document.getElementById("text-line-2");
  const textLine3 = document.getElementById("text-line-3");

  gsap.fromTo(
    textLine1,
    { x: 0 },
    {
      x: "-20vw",
      scrollTrigger: {
        trigger: textContainer,
        start: "bottom bottom",
        end: "top top",
        scrub: 1,
      },
    },
  );

  gsap.fromTo(
    textLine2,
    { x: "-20vw" },
    {
      x: 0,
      scrollTrigger: {
        trigger: textContainer,
        start: "bottom bottom",
        end: "top top",
        scrub: 1,
      },
    },
  );

  gsap.fromTo(
    textLine3,
    { x: 0 },
    {
      x: "-40vw",
      scrollTrigger: {
        trigger: textContainer,
        start: "bottom bottom",
        end: "top top",
        scrub: 1,
      },
    },
  );
</script>
