---
import LinkArrow from "../svgs/LinkArrow.astro";
import NavArrow from "../svgs/NavArrow.astro";
---

<header class="relative z-[100]">
  <nav aria-label="primary navigation" class="p-4 relative">
    <button
      aria-label="toggle navigation"
      aria-expanded="false"
      aria-controls="nav-list"
      id="toggle-nav-btn"
      class="relative z-20 p-3 transition-all duration-700 ease-out hover:rounded-xl focus:outline-4 focus:outline-offset-4 focus:outline-pink-800"
    >
      <div
        id="nav-button-icon"
        aria-hidden="true"
        class="relative w-[30px] h-[30px] rotate-0 duration-500 ease-in-out"
      >
        <span
          class="top-0 block absolute h-1 w-full bg-black opacity-100 left-0 rotate-0 duration-300 ease-in-out"
        ></span>
        <span
          class="top-[13px] block absolute h-1 w-full bg-black opacity-100 left-0 rotate-0 duration-300 ease-in-out"
        ></span>
        <span
          class="top-[26px] block absolute h-1 w-full bg-black opacity-100 left-0 rotate-0 duration-300 ease-in-out"
        ></span>
      </div>
    </button>

    <div
      id="nav-list"
      class="h-dvh flex absolute top-0 -translate-y-full inset-x-0 bg-white/70 backdrop-blur-md"
    >
      <div
        id="nav-content"
        class="flex flex-col justify-between p-10 pt-32 opacity-0"
      >
        <!-- nav links list -->
        <ul
          class="group flex flex-col gap-4 text-black text-6xl font-bold tracking-tight"
          role="menubar"
        >
          <li role="none">
            <span role="none" tabindex="-1" class="overflow-x-hidden flex">
              <a
                href="/"
                data-slide="home-slide"
                data-path="/"
                tabindex="-1"
                role="menuitem"
                class="nav-link text-black -translate-x-10 hover:translate-x-0 transition-all duration-500 ease-out flex gap-2 items-center focus:outline-none focus:text-rose-500 focus:translate-x-0"
              >
                <NavArrow />
                Home
              </a>
            </span>
          </li>
          <li role="none">
            <span role="none" tabindex="-1" class="overflow-x-hidden flex">
              <a
                href="/about"
                data-slide="about-slide"
                data-path="/about"
                tabindex="-1"
                role="menuitem"
                class="nav-link text-black -translate-x-10 hover:translate-x-0 transition-all duration-500 ease-out flex gap-2 items-center focus:outline-none focus:text-rose-500 focus:translate-x-0"
              >
                <NavArrow />
                About
              </a>
            </span>
          </li>
          <li role="none">
            <span role="none" tabindex="-1" class="overflow-x-hidden flex">
              <a
                href="/projects"
                data-slide="projects-slide"
                data-path="/projects"
                tabindex="-1"
                role="menuitem"
                class="nav-link text-black -translate-x-10 hover:translate-x-0 transition-all duration-500 ease-out flex gap-2 items-center focus:outline-none focus:text-rose-500 focus:translate-x-0"
              >
                <NavArrow />
                Projects
              </a>
            </span>
          </li>
          <li role="none">
            <span role="none" tabindex="-1" class="overflow-x-hidden flex">
              <a
                href="/contact"
                data-slide="contact-slide"
                data-path="/contact"
                tabindex="-1"
                role="menuitem"
                class="group nav-link text-black -translate-x-10 hover:translate-x-0 transition-all duration-500 ease-out flex gap-2 items-center focus:outline-none focus:text-rose-500 focus:translate-x-0"
              >
                <NavArrow />
                Contact
              </a>
            </span>
          </li>
        </ul>

        <!-- links -->
        <div class="mt-14 grid gap-3">
          <div class="grid gap-0.5">
            <span class="text-sm text-neutral-600">Email</span>
            <p class="text-xl font-medium">ryanbprog@gmail.com</p>
          </div>
          <a
            href="https://www.linkedin.com/in/ryan-bowler-601919170/"
            target="_blank"
            tabindex="-1"
            class="social-link block w-fit group relative text-xl font-medium focus:outline-2 focus:outline-black focus:outline-offset-4"
          >
            <span class="flex gap-1 items-center">
              <span>LinkedIn</span>
              <LinkArrow height="16" width="16" />
            </span>
            <span
              class="absolute -bottom-1 left-0 h-[1px] w-0 bg-black transition-all duration-300 group-hover:w-full"
            ></span>
          </a>
          <a
            href="https://github.com/RyanBProg"
            target="_blank"
            tabindex="-1"
            class="social-link block w-fit group relative text-xl font-medium focus:outline-2 focus:outline-black focus:outline-offset-4"
          >
            <span class="flex gap-1 items-center">
              <span>GitHub</span>
              <LinkArrow height="16" width="16" />
            </span>
            <span
              class="absolute -bottom-1 left-0 h-[1px] w-0 bg-black transition-all duration-300 group-hover:w-full"
            ></span>
          </a>
        </div>
      </div>

      <!-- gallery slider -->
      <div class="relative h-full w-1/2 ml-auto hidden lg:block">
        <div
          id="home-slide"
          data-path="/"
          class="absolute top-0 right-0 w-full h-full bg-blue-200 transition-transform duration-500 ease-out"
        >
          <div class="relative w-full h-full">
            <p
              class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 text-4xl font-bold tracking-tight"
            >
              Home
            </p>
          </div>
        </div>
        <div
          id="about-slide"
          data-path="/about"
          class="absolute top-0 right-0 w-full h-full bg-red-200 transition-transform duration-500 ease-out"
        >
          <div class="relative w-full h-full">
            <p
              class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 text-4xl font-bold tracking-tight"
            >
              About
            </p>
          </div>
        </div>
        <div
          id="projects-slide"
          data-path="/projects"
          class="absolute top-0 right-0 w-full h-full bg-yellow-200 transition-transform duration-500 ease-out"
        >
          <div class="relative w-full h-full">
            <p
              class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 text-4xl font-bold tracking-tight"
            >
              Projects
            </p>
          </div>
        </div>
        <div
          id="contact-slide"
          data-path="/contact"
          class="absolute top-0 right-0 w-full h-full bg-purple-200 transition-transform duration-500 ease-out"
        >
          <div class="relative w-full h-full">
            <p
              class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 text-4xl font-bold tracking-tight"
            >
              Contact
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<style>
  #nav-button-icon.open span:nth-child(1) {
    @apply top-[13px] rotate-[135deg];
  }

  #nav-button-icon.open span:nth-child(2) {
    @apply opacity-0 -left-[60px];
  }

  #nav-button-icon.open span:nth-child(3) {
    @apply top-[13px] -rotate-[135deg];
  }
</style>

<script>
  import { gsap } from "gsap";

  const toggleNavButton = document.getElementById(
    "toggle-nav-btn",
  ) as HTMLButtonElement;
  const navButtonIcon = document.getElementById("nav-button-icon");
  const navList = document.getElementById("nav-list");
  const navLinks = document.querySelectorAll(
    "[role='menuitem']",
  ) as NodeListOf<HTMLAnchorElement>;
  const socialLinks = document.querySelectorAll(
    ".social-link",
  ) as NodeListOf<HTMLAnchorElement>;
  const slides = document.querySelectorAll("[id$='-slide']");
  let isNavOpen = false;
  const currentPath = window.location.pathname;

  // Handle clicks outside the menu
  const handleClickOutside = (event: MouseEvent) => {
    // Type guard to ensure target is Element
    const target = event.target as Element;

    if (
      isNavOpen &&
      navList &&
      !navList.contains(target) &&
      toggleNavButton &&
      !toggleNavButton.contains(target)
    ) {
      closeNav();
    }
  };

  // Handle Escape key press
  const handleEscKeyPress = (event: KeyboardEvent) => {
    if (event.key === "Escape" && isNavOpen) {
      closeNav();
    }
  };

  // focus trapping when nav is open
  const handleTab = (event: KeyboardEvent) => {
    if (!isNavOpen) {
      return;
    }

    const focusElements = [toggleNavButton, ...navLinks, ...socialLinks];
    const firstElement = focusElements[0];
    const lastElement = focusElements[focusElements.length - 1];

    if (event.key === "Tab") {
      // Shift + Tab pressed on first element
      if (event.shiftKey && document.activeElement === firstElement) {
        event.preventDefault();
        lastElement.focus();
      }
      // Tab pressed on last element
      else if (!event.shiftKey && document.activeElement === lastElement) {
        event.preventDefault();
        firstElement.focus();
      }
    }
  };

  // Close navigation function
  const closeNav = () => {
    isNavOpen = false;

    // enable scrolling
    document.getElementsByTagName("body")[0].style.overflow = "visible";
    // reset aria hidden for main content for screen readers
    document
      .getElementsByTagName("main")[0]
      .setAttribute("aria-hidden", "false");
    document
      .getElementsByTagName("footer")[0]
      .setAttribute("aria-hidden", "false");

    const tl = gsap.timeline();
    tl.to("#nav-content", {
      opacity: 0,
      duration: 0.5,
      ease: "power4.in",
    }).to("#nav-list", {
      y: "-100%",
      duration: 0.5,
      ease: "power4.in",
    });

    navButtonIcon?.classList.remove("open");
    navLinks.forEach((link) => {
      link.setAttribute("tabindex", "-1");
    });
    socialLinks.forEach((link) => {
      link.setAttribute("tabindex", "-1");
    });
    toggleNavButton?.setAttribute("aria-expanded", "false");
  };

  // Toggle navigation function
  toggleNavButton?.addEventListener("click", () => {
    isNavOpen = !isNavOpen;

    if (isNavOpen) {
      // Scroll to top of screen
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });

      // lock scrolling
      document.getElementsByTagName("body")[0].style.overflow = "hidden";
      // aria hidden for main content for screen readers
      document
        .getElementsByTagName("main")[0]
        .setAttribute("aria-hidden", "true");
      document
        .getElementsByTagName("footer")[0]
        .setAttribute("aria-hidden", "true");

      // Open animation sequence
      const tl = gsap.timeline();
      tl.to("#nav-list", {
        y: "0%",
        duration: 0.8,
        ease: "power4.inOut",
      }).to(
        "#nav-content",
        {
          opacity: 1,
          duration: 0.8,
          ease: "power4.inOut",
        },
        "-=0.1",
      );

      navButtonIcon?.classList.add("open");
      navLinks.forEach((link) => {
        link.setAttribute("tabindex", "0");
      });
      socialLinks.forEach((link) => {
        link.setAttribute("tabindex", "0");
      });
      toggleNavButton?.setAttribute("aria-expanded", "true");
    } else {
      closeNav();
    }
  });

  // Nav gallery slider
  navLinks.forEach((link) => {
    link.addEventListener("mouseenter", () => {
      const slideId = link.getAttribute("data-slide");
      const slide = document.getElementById(slideId!);

      // Reset all slides
      slides.forEach((s) => s.classList.add("translate-x-full"));

      // Show current slide
      if (slide) {
        slide.classList.remove("translate-x-full");
      }
    });
  });

  // Nav links hover color change
  navLinks.forEach((hoverlink) => {
    hoverlink.addEventListener("mouseenter", () => {
      navLinks.forEach((link) => {
        if (link === hoverlink) {
          link.classList.remove("text-neutral-500");
          link.classList.add("text-black");
        } else {
          link.classList.remove("text-black");
          link.classList.add("text-neutral-500");
        }
      });
    });

    hoverlink.addEventListener("mouseleave", () => {
      const currentPath = window.location.pathname;

      navLinks.forEach((link) => {
        if (link.getAttribute("href") === currentPath) {
          link.classList.add("text-neutral-500");
          link.classList.remove("text-black");
        } else {
          link.classList.remove("text-neutral-500");
          link.classList.add("text-black");
        }
      });
    });
  });

  // Add event listeners
  document.addEventListener("mousedown", handleClickOutside);
  document.addEventListener("keydown", handleEscKeyPress);
  document.addEventListener("keydown", handleTab);

  // Set active link styles
  function setActiveLink(
    navLinks: NodeListOf<HTMLAnchorElement>,
    currentPath: string,
  ) {
    navLinks.forEach((link) => {
      const linkPath = link.getAttribute("data-path");
      if (linkPath === currentPath) {
        link.classList.remove("-translate-x-10", "text-black");
        link.classList.add("text-neutral-500");
      } else {
        link.classList.add("-translate-x-10", "text-black");
        link.classList.remove("text-neutral-500");
      }
    });
  }

  // Set active slide styles
  function setActiveSlider(slides: NodeListOf<Element>, currentPath: string) {
    slides.forEach((link) => {
      const slidePath = link.getAttribute("data-path");
      if (slidePath === currentPath) {
        link.classList.add("z-20");
      } else {
        link.classList.add("z-10");
      }
    });
  }

  // Run on page load
  setActiveLink(navLinks, currentPath);
  setActiveSlider(slides, currentPath);
</script>
