<header class="relative z-[100]">
  <nav aria-label="primary navigation" class="p-4 relative">
    <button
      aria-label="toggle navigation"
      aria-expanded="false"
      aria-controls="nav-list"
      id="toggle-nav-btn"
      class="relative z-20 p-3 transition-all duration-700 ease-out hover:rounded-xl focus:outline-4 focus:outline-offset-4 focus:outline-pink-800"
    >
      <div
        id="nav-button-icon"
        aria-hidden="true"
        class="relative w-[30px] h-[30px] rotate-0 duration-500 ease-in-out"
      >
        <span
          class="top-0 block absolute h-1 w-full bg-black opacity-100 left-0 rotate-0 duration-300 ease-in-out"
        ></span>
        <span
          class="top-[13px] block absolute h-1 w-full bg-black opacity-100 left-0 rotate-0 duration-300 ease-in-out"
        ></span>
        <span
          class="top-[26px] block absolute h-1 w-full bg-black opacity-100 left-0 rotate-0 duration-300 ease-in-out"
        ></span>
      </div>
    </button>

    <div
      id="nav-list"
      class="h-dvh flex absolute top-0 -translate-y-full inset-x-0 bg-white/70 backdrop-blur-md"
    >
      <div
        id="nav-content"
        class="flex flex-col justify-between p-10 pt-32 opacity-0"
      >
        <!-- nav links list -->
        <ul
          class="group flex flex-col gap-4 text-black text-6xl font-bold tracking-tight"
          role="menubar"
        >
          <li role="none">
            <span class="overflow-x-hidden flex">
              <a
                href="/"
                data-slide="home-slide"
                tabindex="-1"
                role="menuitem"
                class={`${Astro.url.pathname === "/" ? "text-neutral-500" : "text-black -translate-x-10 hover:translate-x-0"} transition-all duration-500 ease-out flex gap-2 items-center focus:outline-none focus:text-rose-500`}
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-move-right"
                  ><path d="M18 8L22 12L18 16"></path><path d="M2 12H22"
                  ></path></svg
                >
                Home
              </a>
            </span>
          </li>
          <li role="none">
            <span class="overflow-x-hidden flex">
              <a
                href="/about"
                data-slide="about-slide"
                tabindex="-1"
                role="menuitem"
                class={`${Astro.url.pathname === "/about" ? "text-neutral-500" : "text-black -translate-x-10 hover:translate-x-0"} transition-all duration-500 ease-out flex gap-2 items-center focus:outline-none focus:text-rose-500`}
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-move-right"
                  ><path d="M18 8L22 12L18 16"></path><path d="M2 12H22"
                  ></path></svg
                >
                About
              </a>
            </span>
          </li>
          <li role="none">
            <span class="overflow-x-hidden flex">
              <a
                href="/projects"
                data-slide="projects-slide"
                tabindex="-1"
                role="menuitem"
                class={`${Astro.url.pathname === "/projects" ? "text-neutral-500" : "text-black -translate-x-10 hover:translate-x-0"} transition-all duration-500 ease-out flex gap-2 items-center focus:outline-none focus:text-rose-500`}
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-move-right"
                  ><path d="M18 8L22 12L18 16"></path><path d="M2 12H22"
                  ></path></svg
                >
                Projects
              </a>
            </span>
          </li>
          <li role="none">
            <span class="overflow-x-hidden flex">
              <a
                href="/contact"
                data-slide="contact-slide"
                tabindex="-1"
                role="menuitem"
                class={`${Astro.url.pathname === "/contact" ? "text-neutral-500" : "text-black -translate-x-10 hover:translate-x-0"} nav-link transition-all duration-500 ease-out flex gap-2 items-center focus:outline-none focus:text-rose-500`}
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="40"
                  height="40"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-move-right"
                  ><path d="M18 8L22 12L18 16"></path><path d="M2 12H22"
                  ></path></svg
                >
                Contact
              </a>
            </span>
          </li>
        </ul>

        <!-- links -->
        <div class="mt-14 grid gap-3">
          <div class="grid gap-0.5">
            <span class="text-sm text-neutral-600">Email</span>
            <p class="text-xl font-medium">ryanbprog@gmail.com</p>
          </div>
          <a
            href="https://www.linkedin.com/in/ryan-bowler-601919170/"
            target="_blank"
            tabindex="-1"
            class="social-link block w-fit group relative text-xl font-medium focus:outline-2 focus:outline-black focus:outline-offset-4"
          >
            <span class="flex gap-1 items-center">
              <span>LinkedIn</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-move-up-right"
                ><path d="M13 5H19V11"></path><path d="M19 5L5 19"></path></svg
              >
            </span>
            <span
              class="absolute -bottom-1 left-0 h-[1px] w-0 bg-black transition-all duration-300 group-hover:w-full"
            ></span>
          </a>
          <a
            href="https://github.com/RyanBProg"
            target="_blank"
            tabindex="-1"
            class="social-link block w-fit group relative text-xl font-medium focus:outline-2 focus:outline-black focus:outline-offset-4"
          >
            <span class="flex gap-1 items-center">
              <span>GitHub</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-move-up-right"
                ><path d="M13 5H19V11"></path><path d="M19 5L5 19"></path></svg
              >
            </span>
            <span
              class="absolute -bottom-1 left-0 h-[1px] w-0 bg-black transition-all duration-300 group-hover:w-full"
            ></span>
          </a>
        </div>
      </div>

      <!-- gallery slider -->
      <div class="relative h-full w-1/2 ml-auto hidden lg:block">
        <div
          id="home-slide"
          class={`${Astro.url.pathname === "/" ? "z-20" : "z-10"} absolute top-0 right-0 w-full h-full bg-blue-200 transition-transform duration-500 ease-out`}
        >
          <div class="relative w-full h-full">
            <p
              class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 text-4xl font-bold tracking-tight"
            >
              Home
            </p>
          </div>
        </div>
        <div
          id="about-slide"
          class={`${Astro.url.pathname === "/about" ? "z-20" : "z-10"} absolute top-0 right-0 w-full h-full bg-red-200 transition-transform duration-500 ease-out`}
        >
          <div class="relative w-full h-full">
            <p
              class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 text-4xl font-bold tracking-tight"
            >
              About
            </p>
          </div>
        </div>
        <div
          id="projects-slide"
          class={`${Astro.url.pathname === "/projects" ? "z-20" : "z-10"} absolute top-0 right-0 w-full h-full bg-yellow-200 transition-transform duration-500 ease-out`}
        >
          <div class="relative w-full h-full">
            <p
              class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 text-4xl font-bold tracking-tight"
            >
              Projects
            </p>
          </div>
        </div>
        <div
          id="contact-slide"
          class={`${Astro.url.pathname === "/contact" ? "z-20" : "z-10"} absolute top-0 right-0 w-full h-full bg-purple-200 transition-transform duration-500 ease-out`}
        >
          <div class="relative w-full h-full">
            <p
              class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 text-4xl font-bold tracking-tight"
            >
              Contact
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<style>
  #nav-button-icon.open span:nth-child(1) {
    @apply top-[13px] rotate-[135deg];
  }

  #nav-button-icon.open span:nth-child(2) {
    @apply opacity-0 -left-[60px];
  }

  #nav-button-icon.open span:nth-child(3) {
    @apply top-[13px] -rotate-[135deg];
  }
</style>

<script>
  import { gsap } from "gsap";

  // Get Lenis instance from window
  declare global {
    interface Window {
      lenis: any;
    }
  }

  const toggleNavButton = document.getElementById("toggle-nav-btn");
  const navButtonIcon = document.getElementById("nav-button-icon");
  const navList = document.getElementById("nav-list");
  const navLinks = document.querySelectorAll("[role='menuitem']");
  const socialLinks = document.querySelectorAll(".social-link");
  const slides = document.querySelectorAll("[id$='-slide']");
  let isNavOpen = false;

  // Handle clicks outside the menu
  const handleClickOutside = (event: MouseEvent) => {
    // Type guard to ensure target is Element
    const target = event.target as Element;

    if (
      isNavOpen &&
      navList &&
      !navList.contains(target) &&
      toggleNavButton &&
      !toggleNavButton.contains(target)
    ) {
      closeNav();
    }
  };

  // Handle Escape key press
  const handleEscKeyPress = (event: KeyboardEvent) => {
    if (event.key === "Escape" && isNavOpen) {
      closeNav();
    }
  };

  // Close navigation function
  const closeNav = () => {
    isNavOpen = false;

    // Re-enable scrolling with Lenis
    window.lenis?.start();

    const tl = gsap.timeline();
    tl.to("#nav-content", {
      opacity: 0,
      duration: 0.5,
      ease: "power4.in",
    }).to("#nav-list", {
      y: "-100%",
      duration: 0.5,
      ease: "power4.in",
    });

    navButtonIcon?.classList.remove("open");
    navLinks.forEach((link) => {
      link.setAttribute("tabindex", "-1");
    });
    socialLinks.forEach((link) => {
      link.setAttribute("tabindex", "-1");
    });
    toggleNavButton?.setAttribute("aria-expanded", "false");
  };

  // Toggle navigation function
  toggleNavButton?.addEventListener("click", () => {
    isNavOpen = !isNavOpen;

    if (isNavOpen) {
      // Scroll to top of screen and stop Lenis scrolling
      window.scrollTo({
        top: 0,
        behavior: "smooth",
      });
      window.lenis?.stop();

      // Open animation sequence
      const tl = gsap.timeline();
      tl.to("#nav-list", {
        y: "0%",
        duration: 0.8,
        ease: "power4.inOut",
      }).to(
        "#nav-content",
        {
          opacity: 1,
          duration: 0.8,
          ease: "power4.inOut",
        },
        "-=0.1",
      );

      navButtonIcon?.classList.add("open");
      navLinks.forEach((link) => {
        link.setAttribute("tabindex", "0");
      });
      socialLinks.forEach((link) => {
        link.setAttribute("tabindex", "0");
      });
      toggleNavButton?.setAttribute("aria-expanded", "true");
    } else {
      closeNav();
    }
  });

  // Nav gallery slider
  navLinks.forEach((link) => {
    link.addEventListener("mouseenter", () => {
      const slideId = link.getAttribute("data-slide");
      const slide = document.getElementById(slideId!);

      // Reset all slides
      slides.forEach((s) => s.classList.add("translate-x-full"));

      // Show current slide
      if (slide) {
        slide.classList.remove("translate-x-full");
      }
    });
  });

  // Reset slides when mouse leaves navigation area
  // navList?.addEventListener("mouseleave", () => {
  //   slides.forEach((slide) => slide.classList.add("translate-x-full"));
  // });

  // Nav links hover color change
  navLinks.forEach((hoverlink) => {
    hoverlink.addEventListener("mouseenter", () => {
      navLinks.forEach((link) => {
        if (link === hoverlink) {
          link.classList.remove("text-neutral-500");
          link.classList.add("text-black");
        } else {
          link.classList.remove("text-black");
          link.classList.add("text-neutral-500");
        }
      });
    });

    hoverlink.addEventListener("mouseleave", () => {
      const currentPath = window.location.pathname;

      navLinks.forEach((link) => {
        if (link.getAttribute("href") === currentPath) {
          link.classList.add("text-neutral-500");
          link.classList.remove("text-black");
        } else {
          link.classList.remove("text-neutral-500");
          link.classList.add("text-black");
        }
      });
    });
  });

  // Add event listeners
  document.addEventListener("mousedown", handleClickOutside);
  document.addEventListener("keydown", handleEscKeyPress);
</script>

<!-- 
TODO:

- Add preview images to the menu
- Refine easings
- Add menu link navigation by arrow keys
- Current page text hightlighting and arrow not working on mobile
- Height overflows on mobile, should use dvh
- Trap focus when the menu is open
- Prevent focus when menu is closed

-->
