<form class="mx-auto flex flex-col gap-4 w-full max-w-[600px]">
  <label class="flex flex-col">
    <span class="font-bold text-xl">Name</span>
    <input
      type="text"
      class="border p-2 rounded"
      placeholder="Your Name"
      required
    />
  </label>
  <label class="flex flex-col">
    <span class="font-bold text-xl">Email</span>
    <input
      type="email"
      class="border p-2 rounded"
      placeholder="Your Email"
      required
    />
  </label>
  <label class="flex flex-col">
    <span class="font-bold text-xl">Contact Number</span>
    <input
      type="text"
      class="border p-2 rounded"
      placeholder="Your Number"
      required
    />
  </label>
  <label class="flex flex-col">
    <span class="font-bold text-xl">Message</span>
    <textarea
      class="border p-2 rounded"
      rows="5"
      placeholder="Your Message"
      required></textarea>
  </label>
  <button
    type="submit"
    class="bg-black hover:bg-neutral-500 rounded-xl p-3 text-white font-bold mt-4"
  >
    Send Message
  </button>
</form>
