<section>
  <!-- PROJECTS -->
  <div class="about-projects-wrap">
    <h2 class="font-bold text-7xl pl-5 pb-5 tracking-tight sm:pl-10">
      Projects
    </h2>
    <div
      data-w-id="9ff6c1d3-c932-9cc3-7ccf-327af82f8969"
      class="section_projects relative"
    >
      <div role="list">
        <div role="listitem" class="scroll-trigger-img relative">
          <img
            src="https://cdn.prod.website-files.com/669ee37559969f9efba7ee67/669ee576a05e890caf24b147_DSC_9785-1.webp"
            loading="lazy"
            alt=""
            sizes="100vw"
            srcset="
                https://cdn.prod.website-files.com/669ee37559969f9efba7ee67/669ee576a05e890caf24b147_DSC_9785-1-p-500.webp   500w,
                https://cdn.prod.website-files.com/669ee37559969f9efba7ee67/669ee576a05e890caf24b147_DSC_9785-1-p-800.webp   800w,
                https://cdn.prod.website-files.com/669ee37559969f9efba7ee67/669ee576a05e890caf24b147_DSC_9785-1-p-1080.webp 1080w,
                https://cdn.prod.website-files.com/669ee37559969f9efba7ee67/669ee576a05e890caf24b147_DSC_9785-1-p-1600.webp 1600w,
                https://cdn.prod.website-files.com/669ee37559969f9efba7ee67/669ee576a05e890caf24b147_DSC_9785-1.webp        1680w
              "
            class="scroll-img-bg h-dvh w-dvw object-cover"
            style="
                translate: none;
                rotate: none;
                scale: none;
                transform: translate(0px, 0px);
              "
          />
          <div class="absolute inset-0 bg-black/50"></div>
        </div>
        <div role="listitem" class="scroll-trigger-img relative">
          <img
            src="https://cdn.prod.website-files.com/669ee37559969f9efba7ee67/66b2aa7260e2fac5abf06078_Rectangle%201%20(1).webp"
            loading="lazy"
            alt=""
            sizes="100vw"
            srcset="
                https://cdn.prod.website-files.com/669ee37559969f9efba7ee67/66b2aa7260e2fac5abf06078_Rectangle%201%20(1)-p-500.webp   500w,
                https://cdn.prod.website-files.com/669ee37559969f9efba7ee67/66b2aa7260e2fac5abf06078_Rectangle%201%20(1)-p-800.webp   800w,
                https://cdn.prod.website-files.com/669ee37559969f9efba7ee67/66b2aa7260e2fac5abf06078_Rectangle%201%20(1)-p-1080.webp 1080w,
                https://cdn.prod.website-files.com/669ee37559969f9efba7ee67/66b2aa7260e2fac5abf06078_Rectangle%201%20(1)-p-1600.webp 1600w,
                https://cdn.prod.website-files.com/669ee37559969f9efba7ee67/66b2aa7260e2fac5abf06078_Rectangle%201%20(1)-p-2000.webp 2000w,
                https://cdn.prod.website-files.com/669ee37559969f9efba7ee67/66b2aa7260e2fac5abf06078_Rectangle%201%20(1).webp        2882w
              "
            class="scroll-img-bg h-dvh w-dvw object-cover"
            style="
                translate: none;
                rotate: none;
                scale: none;
                transform: translate(0px, 0px);
              "
          />
          <div class="absolute inset-0 bg-black/50"></div>
        </div>
        <div role="listitem" class="scroll-trigger-img relative">
          <img
            src="https://cdn.prod.website-files.com/669ee37559969f9efba7ee67/670ef6f05fb3f7bd45f40d64_Screenshot%202024-10-14%20at%2012.04.20%202.webp"
            loading="lazy"
            alt=""
            sizes="100vw"
            srcset="
                https://cdn.prod.website-files.com/669ee37559969f9efba7ee67/670ef6f05fb3f7bd45f40d64_Screenshot%202024-10-14%20at%2012.04.20%202-p-500.webp   500w,
                https://cdn.prod.website-files.com/669ee37559969f9efba7ee67/670ef6f05fb3f7bd45f40d64_Screenshot%202024-10-14%20at%2012.04.20%202-p-800.webp   800w,
                https://cdn.prod.website-files.com/669ee37559969f9efba7ee67/670ef6f05fb3f7bd45f40d64_Screenshot%202024-10-14%20at%2012.04.20%202-p-1080.webp 1080w,
                https://cdn.prod.website-files.com/669ee37559969f9efba7ee67/670ef6f05fb3f7bd45f40d64_Screenshot%202024-10-14%20at%2012.04.20%202-p-1600.webp 1600w,
                https://cdn.prod.website-files.com/669ee37559969f9efba7ee67/670ef6f05fb3f7bd45f40d64_Screenshot%202024-10-14%20at%2012.04.20%202-p-2000.webp 2000w,
                https://cdn.prod.website-files.com/669ee37559969f9efba7ee67/670ef6f05fb3f7bd45f40d64_Screenshot%202024-10-14%20at%2012.04.20%202.webp        2882w
              "
            class="scroll-img-bg h-dvh w-dvw object-cover"
            style="
                translate: none;
                rotate: none;
                scale: none;
                transform: translate(0px, 0px);
              "
          />
          <div class="absolute inset-0 bg-black/50"></div>
        </div>
      </div>
      <div class="absolute inset-0">
        <div role="list" class="w-full h-dvh sticky top-0">
          <div
            role="listitem"
            class="scroll-item absolute inset-0 flex items-center justify-between px-[5%]"
            style="clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)"
          >
            <div
              class="text-white w-full flex flex-col justify-center gap-10 px-5 md:flex-row sm:px-10 md:items-center"
            >
              <h3 class="text-5xl tracking-tight font-bold md:flex-1">
                Dev Trainer
              </h3>
              <div class="md:w-[300px] lg:w-[480px]">
                <p>
                  A learning reference for developers who want to build custom
                  cheatsheets shortucts and snippets
                </p>
                <div class="flex flex-wrap gap-2 mt-4">
                  <span class="bg-neutral-500 p-1 rounded-md">Typscript</span>
                  <span class="bg-neutral-500/70 p-1 rounded-md">React</span>
                  <span class="bg-neutral-500/70 p-1 rounded-md">Next.js</span>
                  <span class="bg-neutral-500/70 p-1 rounded-md">Tailwind</span>
                  <span class="bg-neutral-500/70 p-1 rounded-md">Mongo DB</span>
                  <span class="bg-neutral-500/70 p-1 rounded-md"
                    >Express.js</span
                  >
                  <span class="bg-neutral-500/70 p-1 rounded-md">Node.js</span>
                </div>
              </div>
              <a
                href="/projects/dev-trainer"
                class="more-button font-bold text-3xl p-1 w-fit rounded-lg transition-colors hover:bg-neutral-500/30"
              >
                More &rarr;
              </a>
            </div>
          </div>
          <div
            role="listitem"
            class="scroll-item absolute inset-0 flex items-center justify-between px-[5%]"
            style="clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)"
          >
            <div
              class="text-white w-full flex flex-col justify-center gap-10 px-5 md:flex-row sm:px-10 md:items-center"
            >
              <h3 class="text-5xl tracking-tight font-bold md:flex-1">
                Better Spanish
              </h3>
              <div class="md:w-[300px] lg:w-[480px]">
                <p>
                  A learning platform for people who want to learn spanish using
                  high frequency words to get fluent faster
                </p>
                <div class="flex flex-wrap gap-2 mt-4">
                  <span class="bg-neutral-500 p-1 rounded-md">Typscript</span>
                  <span class="bg-neutral-500/70 p-1 rounded-md">Next.js</span>
                  <span class="bg-neutral-500/70 p-1 rounded-md">Tailwind</span>
                  <span class="bg-neutral-500/70 p-1 rounded-md">Mongo DB</span>
                </div>
              </div>
              <a
                href="/projects/better-spanish"
                class="more-button font-bold text-3xl p-1 w-fit rounded-lg transition-colors hover:bg-neutral-500/30"
              >
                More &rarr;
              </a>
            </div>
          </div>
          <div
            role="listitem"
            class="scroll-item absolute inset-0 flex items-center justify-between px-[5%]"
            style="clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)"
          >
            <div
              class="text-white w-full flex flex-col justify-center gap-10 px-5 md:flex-row sm:px-10 md:items-center"
            >
              <h3 class="text-5xl tracking-tight font-bold md:flex-1">
                My Portfolio
              </h3>
              <div class="md:w-[300px] lg:w-[480px]">
                <p>
                  A site to showcase my work and projects that I have built over
                  my coding journey
                </p>
                <div class="flex flex-wrap gap-2 mt-4">
                  <span class="bg-neutral-500 p-1 rounded-md">Typscript</span>
                  <span class="bg-neutral-500/70 p-1 rounded-md">Next.js</span>
                  <span class="bg-neutral-500/70 p-1 rounded-md">Tailwind</span>
                  <span class="bg-neutral-500/70 p-1 rounded-md">Mongo DB</span>
                  <span class="bg-neutral-500/70 p-1 rounded-md"
                    >Express.js</span
                  >
                </div>
              </div>
              <a
                href="/projects/my-portfolio"
                class="more-button font-bold text-3xl p-1 w-fit rounded-lg transition-colors hover:bg-neutral-500/30"
              >
                More &rarr;
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- SEE MORE -->
  <div
    class="h-[400px] z-99 relative bg-black text-white flex items-center justify-center px-5 sm:px-10"
  >
    <a
      class="text-6xl text-center hover:text-white/80 hover:cursor-pointer sm:text-7xl"
      >See More Projects</a
    >
  </div>
</section>

<script>
  import { gsap } from "gsap";

  // More button animation
  document.querySelectorAll(".more-button").forEach((button) => {
    gsap.to(button, {
      y: -8,
      repeat: -1,
      yoyo: true,
      duration: 1,
    });
  });

  // Projects section animations
  document.querySelectorAll(".section_projects").forEach((section) => {
    let triggers = section.querySelectorAll(".scroll-trigger-img");
    let items = section.querySelectorAll(".scroll-item");

    triggers.forEach((trigger, index) => {
      let background = trigger.querySelector(".scroll-img-bg");
      let item = items[index];

      if (index === 0) {
        let tl = gsap.timeline({
          scrollTrigger: {
            trigger: trigger,
            start: "top top",
            end: "bottom top",
            scrub: true,
          },
          defaults: {
            ease: "none",
          },
        });
        tl.fromTo(
          item,
          { clipPath: "polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)" },
          { clipPath: "polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%)" },
        );
      } else if (index === items.length - 1) {
        let tl = gsap.timeline({
          scrollTrigger: {
            trigger: trigger,
            start: "top bottom",
            end: "bottom bottom",
            scrub: true,
          },
          defaults: {
            ease: "none",
          },
        });
        tl.fromTo(
          item,
          { clipPath: "polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%)" },
          { clipPath: "polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)" },
        );
      } else {
        let tl = gsap.timeline({
          scrollTrigger: {
            trigger: trigger,
            start: "top bottom",
            end: "bottom top",
            scrub: true,
          },
          defaults: {
            ease: "none",
          },
        });
        tl.fromTo(
          item,
          { clipPath: "polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%)" },
          { clipPath: "polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%)" },
        );
        tl.to(item, { clipPath: "polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%)" });
      }

      let tl2 = gsap.timeline({
        scrollTrigger: {
          trigger: trigger,
          start: "top top",
          end: "bottom top",
          scrub: true,
        },
        defaults: {
          ease: "none",
        },
      });
      tl2.to(background, { yPercent: 50 });
    });
  });
</script>
