---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Projects | Ryan Bowler">
  <main>
    <!-- WHITESPACE -->
    <div class="h-[150px] sm:h-[200px]"></div>

    <h1>Projects</h1>
  </main>
</Layout>
