<footer
  class="bg-black text-white px-5 sm:px-10 py-10 flex justify-between items-center gap-5 overflow-clip"
>
  <p>Built by Ryan Bowler using Typescript, Astro, HTML, Tailwind and GSAP</p>
  <button
    id="scroll-button"
    class="rounded-full min-w-10 h-10 transition-colors duration-300 bg-neutral-600 hover:bg-neutral-500 focus:outline-2 focus:outline-offset-4 focus:outline-neutral-600"
    >&uarr;</button
  >
</footer>

<script>
  const scrollToTop = () => {
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });

    scrollButton?.blur();
    toggleNavButton?.focus();
  };

  const toggleNavButton = document.getElementById(
    "toggle-nav-btn",
  ) as HTMLButtonElement;
  const scrollButton = document.getElementById(
    "scroll-button",
  ) as HTMLButtonElement;
  scrollButton?.addEventListener("click", scrollToTop);
</script>
