@tailwind base;
@tailwind components;
@tailwind utilities;

ul .active {
  font-size: 3rem;
  font-weight: 700;
}

body {
  background-image: radial-gradient(#0000004a 1px, #ffffff 1px);
  background-size: 40px 40px;
  transition: background-size 0.3s ease-out;
}
