---
import Header from "../components/navbar/Header.astro";

const { title } = Astro.props;
---

<html lang="en" transition:animate="slide">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>{title}</title>
    <meta
      name="description"
      content="Portfolio of Ryan Bowler, a full stack developer"
    />
    <meta name="author" content="Ryan Bowler" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="min-h-dvh">
    <!-- Skip Link -->
    <a
      href="#main-content"
      class="sr-only focus:not-sr-only focus:absolute focus:z-50 focus:p-4 focus:bg-white focus:text-black"
    >
      Skip to main content
    </a>
    <Header />

    <!-- Main Content -->
    <main id="main-content">
      <slot />
    </main>

    <!-- FOOTER -->
    <footer
      class="bg-black text-white px-5 sm:px-10 py-10 flex justify-between items-center gap-5"
    >
      <p>
        Built by Ryan Bowler using Typescript, Astro, HTML, Tailwind and GSAP
      </p>
      <button
        id="scroll-button"
        class="rounded-full w-10 h-10 bg-neutral-500/50">&uarr;</button
      >
    </footer>
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "SpaceGrotesk";
    src: url("/fonts/SpaceGrotesk-VariableFont_wght.ttf")
      format("truetype-variations");
    font-weight: 300 700;
    font-style: normal;
    font-display: swap;
  }

  body {
    background-image: radial-gradient(#0000004a 1px, #ffffff 1px);
    background-size: 40px 40px;
    transition: background-size 0.3s ease-out;
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import Lenis from "lenis";

  // Smooth scrolling
  const lenis = new Lenis();

  // Make lenis available globally
  window.lenis = lenis;

  function raf(time: number) {
    lenis.raf(time);
    requestAnimationFrame(raf);
  }

  // Synchronize Lenis scrolling with GSAP's ScrollTrigger plugin
  lenis.on("scroll", ScrollTrigger.update);
  gsap.ticker.add((time) => {
    lenis.raf(time * 1000);
  });
  gsap.ticker.lagSmoothing(0);

  requestAnimationFrame(raf);

  // Nav animation
  const mobileButton = document.getElementById("mobile-nav-btn");
  const nav = document.getElementById("nav");
  const navLinks = document.getElementById("nav-list");
  let isNavOpen = false;

  mobileButton?.addEventListener("click", () => {
    isNavOpen = !isNavOpen;

    if (isNavOpen) {
      // Open animation
      const tl = gsap.timeline();
      tl.set(nav, {
        display: "flex",
      })
        .to(nav, {
          scale: 1,
          duration: 0.6,
          ease: "sine.inOut",
        })
        .to(
          navLinks,
          {
            opacity: 1,
            duration: 0.3,
            ease: "power2.out",
          },
          "-=0.2",
        )
        .to(
          mobileButton,
          {
            innerHTML: "✕",
            duration: 0.1,
          },
          "-=0.3",
        );
    } else {
      // Close animation
      const tl = gsap.timeline();
      tl.to(navLinks, {
        opacity: 0,
        duration: 0.3,
        ease: "sine.inOut",
      })
        .to(nav, {
          scale: 0,
          duration: 0.6,
          ease: "power2.inOut",
        })
        .set(nav, { display: "none" })
        .to(
          mobileButton,
          {
            innerHTML: "☰",
            duration: 0.1,
          },
          "-=0.6",
        );
    }
  });

  const scrollToTop = () => {
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  };

  const scrollButton = document.getElementById("scroll-button");
  scrollButton?.addEventListener("click", scrollToTop);
</script>
