---
import Footer from "../components/footer/Footer.astro";
import Header from "../components/navbar/Header.astro";
import Header2 from "../components/navbar/Header2.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>{title}</title>
    <meta
      name="description"
      content="Portfolio of Ryan Bowler, a full stack developer"
    />
    <meta name="author" content="Ryan Bowler" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="min-h-screen">
    <!-- <Header /> -->
    <Header2 />

    <!-- Main Content -->
    <main id="main-content">
      <slot />
    </main>

    <Footer />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "SpaceGrotesk";
    src: url("/fonts/SpaceGrotesk-VariableFont_wght.ttf")
      format("truetype-variations");
    font-weight: 300 700;
    font-style: normal;
    font-display: swap;
  }
</style>
