name: CI

on:
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Run unit tests
        run: npm run test -- --run

      - name: Run end to end tests
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
          headless: true
          start: npm run dev
          wait-on: "http://localhost:4321"
          spec: cypress/e2e/**/*.cy.ts

      - name: Run Type Check
        run: npm run type-check
